table {
  width: 100%;
}
.diagrams-div {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
#goDiagram, #go2Diagram {
  width:500px;
  height:500px;
  background-color: #fff;
}
