<div class="diagrams-div">
  <div id="goDiagram">
  <!--  Pie chart diagram-->
  </div>
  <div id="go2Diagram">
    <!--  Pie chart diagram-->
  </div>
</div>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="No.">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
      <td mat-cell *matCellDef="let element"> {{indexOfElement(element)}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="Type">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
      <td mat-cell *matCellDef="let element"> {{getSpendingType(element.spendingType)}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="Money">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Money </th>
      <td mat-cell *matCellDef="let element"> {{element.amountOfMoney}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="Description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="Date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
      <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
