<div class="diagrams-div">
  <div id="goDiagram">
  <!--  Pie chart diagram-->
  </div>
  <div id="go2Diagram">
    <!--  Pie chart diagram-->
  </div>
</div>
<div class="example-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort>

    <!-- Position Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sfd.No' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="sfd.spendingTypeText | translate">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sfd.Type' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{'sfd.' + element.spendingTypeText | translate}} </td>
    </ng-container>

    <!-- Weight Column -->
    <ng-container matColumnDef="amountOfMoney">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sfd.Money' | translate}}, ₴ </th>
      <td mat-cell *matCellDef="let element"> {{element.amountOfMoney}} </td>
    </ng-container>

    <!-- Symbol Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sfd.Description' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.description}} </td>
    </ng-container>

    <ng-container matColumnDef="date">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> {{'sfd.Date' | translate}} </th>
      <td mat-cell *matCellDef="let element"> {{element.date | dateLocale: 'lll'}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="pageSizeOptions" showFirstLastButtons></mat-paginator>
</div>
